<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to "ANAL", gifs_path(tag: "anal"), class: "card-category rose" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "BBW", gifs_path(tag: "BBW"), class: "card-category black" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "BUKKAKE", gifs_path(tag: "bukkake"), class: "card-category  bukkake" %><br>
    </div>
    
    <br><br><br><br>
     <div class="col-xs-12 col-sm-4">
      <%= link_to "LESBIAN", gifs_path(tag: "lesbian"), class: "card-category black" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "HARD", gifs_path(tag: "hard"), class: "card-category rose" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "MATURE", gifs_path(tag: "mature"), class: "card-category black" %><br>
    </div>
    <br><br><br><br>
     <div class="col-xs-12 col-sm-4">
      <%= link_to "ROMANTIC", gifs_path(tag: "romantic"), class: "card-category rose" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "YONG", gifs_path(tag: "yong"), class: "card-category black" %>
    </div>

  </div>
</div>